<footer class="p-2 bg-white font-size-12" style="padding-top: 2px !important;padding-bottom: 2px !important;font-size: 10px !important;">
    <div class="row">
        <div class="col">
            <span>Apparel 2020</span>
        </div>
        <div class="col text-right">
                Servidor: 
                <span *ngIf="wsService.socketStatus" class="text-success">
                    <i class="fas fa-circle" style="color:green"></i></span>
                <span *ngIf="!wsService.socketStatus" class="text-danger">
                    <i class="fas fa-circle" style="color:red"></i>
                </span>
        </div>
    </div>
</footer>