<h5 mat-dialog-title>{{ nombre }}</h5>
<div mat-dialog-content>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let elemento of geocercasRutas;let i=index">
            <div mat-line *ngIf="elemento.icon === 'check_circle'" style="color: green;"> 
               [{{ i+1 }}] - {{ elemento.nombre_geocerca }} 
            </div>
            <p mat-line *ngIf="elemento.icon === 'check_circle'" style="color: green;">
                date: {{ elemento.event_time | convertUtcToLocalTime }}
            </p>
            <div mat-line *ngIf="elemento.icon !== 'check_circle'" > 
                [{{ i+1 }}] - {{ elemento.nombre_geocerca }} 
            </div>
            <p mat-line *ngIf="elemento.icon !== 'check_circle'" >
                date: {{ elemento.event_time | convertUtcToLocalTime }}
            </p>
            <mat-icon>{{ elemento.icon }} </mat-icon>
            <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button [mat-dialog-close]="data.body" cdkFocusInitial>Ok</button>
</div>
