@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
@import '~@angular/material/theming';

@include mat-core();

$my-blue: (
  50: #7fdddd,
  100: #7faedd,
  200: #7f7fdd,
  300: #7faedd,
  400: #7faedd,
  500: #7faedd,
  600: #7faedd,
  700: #7faedd,
  800: #7faedd,
  900: #7faedd,
  A100: #7faedd,
  A200: #7faedd,
  A400: #7faedd,
  A700: #7faedd,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-yellow: (
    50 : #fdf8e6,
    100 : #fbedc2,
    200 : #f8e199,
    300 : #f5d470,
    400 : #f3cb51,
    500 : #f1c232,
    600 : #efbc2d,
    700 : #edb426,
    800 : #ebac1f,
    900 : #e79f13,
    A100 : #ffffff,
    A200 : #fff4e2,
    A400 : #ffe2af,
    A700 : #ffd896,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette0: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #939dff,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// below creates a primary palette with three shades of blue #ff5722 #ff5722

$primary: mat-palette($md-mcgpalette0);
$accent:  mat-palette($mat-pink, 500, 900, A100);
$warn:    mat-palette($md-yellow);

$primary2: mat-palette($mat-blue-grey, 700);
$accent2:  mat-palette($my-blue, 500, A100, A400);
$warn2:    mat-palette($mat-red, 600);

$my-app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($my-app-theme);


